In [23]:
import numpy as np
import pandas as pd
import cv2
from PIL import Image
import os

In [24]:
class_ls = ['aeroplane','bicycle','boat','bus','car', 'chair','diningtable','motorbike','sofa','train']
class_to_index = {'aeroplane': 0,'bicycle': 1,'boat': 2,'bus': 3,'car': 4,'chair': 5,'diningtable': 6,'motorbike': 7,'sofa': 8,'train': 9}
val_nuisances = ['shape', 'pose', 'texture', 'context', 'weather','occlusion','iid']

txt_dir = "./data/phase-1-pose-npz/train"
img_dir = "./data/phase-1-pose-npz/train/processed/images"
ann_dir = "/home/data1/lkd/ECCV2022_OOD/pose/data/phase-1-pose-npz/train/processed/annotations"

In [29]:
theta_list=  []
elevation_list =  []
distance_list =  []
azimuth_list =  []
for ann_file in os.listdir(ann_dir):
    data = np.load(ann_dir+'/'+ann_file,allow_pickle=True)
    theta_list.append(float(data['theta']))
    elevation_list.append(float(data['elevation']))
    distance_list.append(float(data['distance']))
    azimuth_list.append(float(data['azimuth']))

In [32]:
print(np.mean(theta_list))
print(np.mean(elevation_list))
print(np.mean(distance_list))
print(np.mean(azimuth_list))

0.00023595481126638268
0.11575889073578172
6.526204760750839
2.708895440086749

In [37]:
print(np.sqrt(np.mean(np.square(theta_list-np.mean(theta_list)))))
print(np.sqrt(np.mean(np.square(elevation_list-np.mean(elevation_list)))))
print(np.sqrt(np.mean(np.square(distance_list-np.mean(distance_list)))))
print(np.sqrt(np.mean(np.square(azimuth_list-np.mean(azimuth_list)))))

0.13191307591839532
0.1993462425530023
5.318982103694582
2.5564238212543766

In [52]:
df = pd.DataFrame()

df = pd.concat([df,pd.DataFrame(['img','snake',123,13,52,63]).T])

In [53]:
df

     0      1    2   3   4   5
0  img  snake  123  13  52  63

In [56]:
path = "./data/OOD-CV-phase2/phase2-pose/annotations/00000_aeroplane.npz"
data = np.load(path,allow_pickle=True)

In [59]:
data.files

['name',
 'box',
 'box_ori',
 'box_obj',
 'cropped_kp_list',
 'visible',
 'theta',
 'focal',
 'azimuth',
 'elevation',
 'viewport',
 'distance',
 'principal',
 'cad_index',
 'bbox']

In [55]:
df

  imgs labels azimuth elevation theta distance
0  img  snake     123        13    52       63